<div class="columns">
    <div class="column is-4">
        <div id="demo_board" style="width: 100%;"></div>
    </div>
    <div class="column is-8">
        <p>
            <div class="field">
                <p class="control">
                    <input class="input" type="text" placeholder="Εισαγωγή FEN εδώ..." id="fen_string">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" id="submit_button">
                    Δοκιμή
                    </button>
                </p>
            </div>
        </p>                       
    </div>
</div>

<script>
    var demo_board = Chessboard('demo_board', {
        draggable: true,
        moveSpeed: 'slow',
        snapbackSpeed: 500,
        snapSpeed: 100,
        position: 'start'
    })
</script>

<script>
    $('#submit_button').on('click', function () {
        //console.log(demo_board);
        var fen = $('#fen_string').val();
        //console.log(fen);
        demo_board.position(fen);
    });

    $(window).resize(demo_board.resize);
</script>