<div class="columns">
    <div class="column is-5">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="/deltachess-logo.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                        <strong>DeltaChess</strong> <small>GUI</small> <small></small>
                        <br>
                        Αυτή η εφαρμογή αποτελεί μέρος της εφαρμογής <a href="#">DeltaChess</a>, του <a href="https://douros.eu/george">Γιώργου Δούρου</a>, και εξυπηρετεί τη μετάδοση παρτίδων σκάκι σε πραγματικό χρόνο.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
