<div id="board1" style="width: 40%;"></div>

<div id="move"></div>

<script>
    var board1 = Chessboard('board1', {
        draggable: true,
        moveSpeed: 'slow',
        snapbackSpeed: 500,
        snapSpeed: 100,
        position: 'start'
    })
</script>